.jumbotron {
	margin-bottom: 0px;
	background-color: #4E4198;
	
}


.bg-light {
	/*border: thin solid black;*/
	/*background-color: #6E5BA3 !IMPORTANT;*/
	
	
}

.bg-dark {
	/*border: thin solid black;*/
	background-color: #6E5BA3 !IMPORTANT;
	/*background-color: #8DA3D6 !IMPORTANT;*/
	
}

.bi-flower1 {
	/*border: thin solid black;*/
	font-size: 2em;
}

.bi-house {
	font-size: 2em;
	
}

.navbar-brand {
	/*border: thin solid white;*/
	color: white;
}



.nav-pad {
	padding-top:25px;
	color: white;
}

.nav-item {
	/*border: thin solid black;*/
	color: white !important;
}

.navbar-nav li{
	/*border: thin solid black;*/
	font-size: 1.2em;
	color: white;
}

.jumbo-style {
	color: white;
}

#main {
	/*border: thin solid black;*/
	
	/*height: 760px;*/

	/*padding-top: 100px;
	padding-bottom: 100px;*/


	background-image: url(../img/1128x482Untitled.png);
	background-repeat: repeat;
	background-position: top-left;
	background-size: auto	
}

#content {
	/*margin-left: 20px;
	margin-right: 20px;*/
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 20px;
	border: thin solid black;
	background-color: #DFACC0;
	opacity: .9;
	box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, .9);
	


}

h1 {
text-shadow: 2px 2px 2px black;
}

 h2, h3, h4, h5, h6, p {
	text-shadow: 1px 1px 1px black;
}

li p {
	/*border: thin solid black;*/
	margin-bottom: 0px;
}

.footer {
	background-color: #6E5BA3;
	/*background-color: #8DA3D6;*/
	/*border: thin solid red;*/
	height: 70px;

}

.flex-container {
	/*border: thin solid black;*/
	display: flex;
	justify-content: space-between;
}

.flex-container a {
	color: white;
}
